# A guide to fine-tuning Code Llama

**In this guide I show you how to fine-tune Code Llama to become a beast of an SQL developer. For coding tasks, you can generally get much better performance out of Code Llama than Llama 2, especially when you specialise the model on a particular task:**

- I use the [b-mc2/sql-create-context](https://huggingface.co/datasets/b-mc2/sql-create-context) which is a bunch of text queries and their corresponding SQL queries
- A Lora approach, quantizing the base model to int 8, freezing its weights and only training an adapter
- Much of the code is borrowed from [alpaca-lora](https://github.com/tloen/alpaca-lora), but I refactored it quite a bit for this

### 2. Pip installs

In [1]:
!pip install git+https://github.com/huggingface/transformers.git@main bitsandbytes accelerate==0.20.3  # we need latest transformers for this
!pip install git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
!pip install datasets==2.10.1
import locale # colab workaround
locale.getpreferredencoding = lambda: "UTF-8" # colab workaround
!pip install wandb

Collecting git+https://github.com/huggingface/transformers.git@main
  Cloning https://github.com/huggingface/transformers.git (to revision main) to /tmp/pip-req-build-u6y2jqep
  Running command git clone --filter=blob:none --quiet https://github.com/huggingface/transformers.git /tmp/pip-req-build-u6y2jqep
  Resolved https://github.com/huggingface/transformers.git to commit 09b2de6eb74b1e5ff4f4c3d9839485f4165627c9
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting bitsandbytes
  Downloading bitsandbytes-0.41.1-py3-none-any.whl (92.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.6/92.6 MB 17.7 MB/s eta 0:00:00
Collecting accelerate==0.20.3
  Downloading accelerate-0.20.3-py3-none-any.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.6/227.6 kB 29.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from accelerate==0.20.3) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from accelerate==0.20.3) (23.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from accelerate==0.20.3) (5.9.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from accelerate==0.20.3) (6.0.1)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from accelerate==0.20.3) (2.0.1+cu118)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers==4.34.0.dev0) (3.12.2)
Collecting huggingface-hub<1.0,>=0.15.1 (from transformers==4.34.0.dev0)
  Downloading huggingface_hub-0.16.4-py3-none-any.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 35.3 MB/s eta 0:00:00
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers==4.34.0.dev0) (2023.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers==4.34.0.dev0) (2.31.0)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers==4.34.0.dev0)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 114.9 MB/s eta 0:00:00
Collecting safetensors>=0.3.1 (from transformers==4.34.0.dev0)
  Downloading safetensors-0.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 83.8 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers==4.34.0.dev0) (4.66.1)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.15.1->transformers==4.34.0.dev0) (2023.6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.15.1->transformers==4.34.0.dev0) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate==0.20.3) (1.12)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate==0.20.3) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate==0.20.3) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->accelerate==0.20.3) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate==0.20.3) (3.27.4.1)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->accelerate==0.20.3) (16.0.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.34.0.dev0) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.34.0.dev0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.34.0.dev0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers==4.34.0.dev0) (2023.7.22)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->accelerate==0.20.3) (2.1.3)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->accelerate==0.20.3) (1.3.0)
Building wheels for collected packages: transformers
  Building wheel for transformers (pyproject.toml) ... done
  Created wheel for transformers: filename=transformers-4.34.0.dev0-py3-none-any.whl size=7640036 sha256=56e52a34b1e0a3c3f3ae6f2237ddaa2ee0f3113f6833bc6813be7e21fcfaaadc
  Stored in directory: /tmp/pip-ephem-wheel-cache-hoswp7f8/wheels/cf/59/82/6492402e887a68975030bf8c06532260abc16abb7ccd8127cc
Successfully built transformers
Installing collected packages: tokenizers, safetensors, bitsandbytes, huggingface-hub, transformers, accelerate
Successfully installed accelerate-0.20.3 bitsandbytes-0.41.1 huggingface-hub-0.16.4 safetensors-0.3.3 tokenizers-0.13.3 transformers-4.34.0.dev0
Collecting git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
  Cloning https://github.com/huggingface/peft.git (to revision e536616888d51b453ed354a6f1e243fecb02ea08) to /tmp/pip-req-build-26p7dm80
  Running command git clone --filter=blob:none --quiet https://github.com/huggingface/peft.git /tmp/pip-req-build-26p7dm80
  Running command git rev-parse -q --verify 'sha^e536616888d51b453ed354a6f1e243fecb02ea08'
  Running command git fetch -q https://github.com/huggingface/peft.git e536616888d51b453ed354a6f1e243fecb02ea08
  Running command git checkout -q e536616888d51b453ed354a6f1e243fecb02ea08
  Resolved https://github.com/huggingface/peft.git to commit e536616888d51b453ed354a6f1e243fecb02ea08
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (23.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (5.9.5)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (6.0.1)
Requirement already satisfied: torch>=1.13.0 in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (2.0.1+cu118)
Requirement already satisfied: transformers in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (4.34.0.dev0)
Requirement already satisfied: accelerate in /usr/local/lib/python3.10/dist-packages (from peft==0.3.0.dev0) (0.20.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch>=1.13.0->peft==0.3.0.dev0) (3.12.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from torch>=1.13.0->peft==0.3.0.dev0) (4.5.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.13.0->peft==0.3.0.dev0) (1.12)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.13.0->peft==0.3.0.dev0) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.13.0->peft==0.3.0.dev0) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.13.0->peft==0.3.0.dev0) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.13.0->peft==0.3.0.dev0) (3.27.4.1)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.13.0->peft==0.3.0.dev0) (16.0.6)
Requirement already satisfied: huggingface-hub<1.0,>=0.15.1 in /usr/local/lib/python3.10/dist-packages (from transformers->peft==0.3.0.dev0) (0.16.4)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers->peft==0.3.0.dev0) (2023.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers->peft==0.3.0.dev0) (2.31.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from transformers->peft==0.3.0.dev0) (0.13.3)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.10/dist-packages (from transformers->peft==0.3.0.dev0) (0.3.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers->peft==0.3.0.dev0) (4.66.1)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.15.1->transformers->peft==0.3.0.dev0) (2023.6.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.13.0->peft==0.3.0.dev0) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->transformers->peft==0.3.0.dev0) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers->peft==0.3.0.dev0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers->peft==0.3.0.dev0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers->peft==0.3.0.dev0) (2023.7.22)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.13.0->peft==0.3.0.dev0) (1.3.0)
Building wheels for collected packages: peft
  Building wheel for peft (pyproject.toml) ... done
  Created wheel for peft: filename=peft-0.3.0.dev0-py3-none-any.whl size=41637 sha256=7326a9fe7b419ec00457c78138611dd2e12fccc233babafe3943bb236c965865
  Stored in directory: /root/.cache/pip/wheels/02/0a/9a/b9755f6b184f58a5a44baf58dd9664a49b3295e4b3e9a1f174
Successfully built peft
Installing collected packages: peft
Successfully installed peft-0.3.0.dev0
Collecting datasets==2.10.1
  Downloading datasets-2.10.1-py3-none-any.whl (469 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 469.0/469.0 kB 8.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (1.23.5)
Requirement already satisfied: pyarrow>=6.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (9.0.0)
Collecting dill<0.3.7,>=0.3.0 (from datasets==2.10.1)
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 16.3 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (2.31.0)
Requirement already satisfied: tqdm>=4.62.1 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (4.66.1)
Collecting xxhash (from datasets==2.10.1)
  Downloading xxhash-3.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 27.8 MB/s eta 0:00:00
Collecting multiprocess (from datasets==2.10.1)
  Downloading multiprocess-0.70.15-py310-none-any.whl (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 19.5 MB/s eta 0:00:00
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (2023.6.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (3.8.5)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (0.16.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (23.1)
Collecting responses<0.19 (from datasets==2.10.1)
  Downloading responses-0.18.0-py3-none-any.whl (38 kB)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets==2.10.1) (6.0.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets==2.10.1) (1.3.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.2.0->datasets==2.10.1) (3.12.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.2.0->datasets==2.10.1) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets==2.10.1) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets==2.10.1) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets==2.10.1) (2023.7.22)
INFO: pip is looking at multiple versions of multiprocess to determine which version is compatible with other requirements. This could take a while.
Collecting multiprocess (from datasets==2.10.1)
  Downloading multiprocess-0.70.14-py310-none-any.whl (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.3/134.3 kB 20.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets==2.10.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets==2.10.1) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->datasets==2.10.1) (1.16.0)
Installing collected packages: xxhash, dill, responses, multiprocess, datasets
Successfully installed datasets-2.10.1 dill-0.3.6 multiprocess-0.70.14 responses-0.18.0 xxhash-3.3.0
Collecting wandb
  Downloading wandb-0.15.10-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 28.4 MB/s eta 0:00:00
Requirement already satisfied: Click!=8.0.0,>=7.1 in /usr/local/lib/python3.10/dist-packages (from wandb) (8.1.7)
Collecting GitPython!=3.1.29,>=1.0.0 (from wandb)
  Downloading GitPython-3.1.35-py3-none-any.whl (188 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.8/188.8 kB 26.0 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (2.31.0)
Requirement already satisfied: psutil>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (5.9.5)
Collecting sentry-sdk>=1.0.0 (from wandb)
  Downloading sentry_sdk-1.30.0-py2.py3-none-any.whl (218 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 218.8/218.8 kB 29.4 MB/s eta 0:00:00
Collecting docker-pycreds>=0.4.0 (from wandb)
  Downloading docker_pycreds-0.4.0-py2.py3-none-any.whl (9.0 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.10/dist-packages (from wandb) (6.0.1)
Collecting pathtools (from wandb)
  Downloading pathtools-0.1.2.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Collecting setproctitle (from wandb)
  Downloading setproctitle-1.3.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (30 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from wandb) (67.7.2)
Requirement already satisfied: appdirs>=1.4.3 in /usr/local/lib/python3.10/dist-packages (from wandb) (1.4.4)
Requirement already satisfied: protobuf!=4.21.0,<5,>=3.19.0 in /usr/local/lib/python3.10/dist-packages (from wandb) (3.20.3)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from docker-pycreds>=0.4.0->wandb) (1.16.0)
Collecting gitdb<5,>=4.0.1 (from GitPython!=3.1.29,>=1.0.0->wandb)
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 9.6 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.0.0->wandb) (2023.7.22)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->GitPython!=3.1.29,>=1.0.0->wandb)
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Building wheels for collected packages: pathtools
  Building wheel for pathtools (setup.py) ... done
  Created wheel for pathtools: filename=pathtools-0.1.2-py3-none-any.whl size=8791 sha256=4d0f396d464f35471e87eb51ec797e741a4db4e6b3b64e9704caa5f406f74fa0
  Stored in directory: /root/.cache/pip/wheels/e7/f3/22/152153d6eb222ee7a56ff8617d80ee5207207a8c00a7aab794
Successfully built pathtools
Installing collected packages: pathtools, smmap, setproctitle, sentry-sdk, docker-pycreds, gitdb, GitPython, wandb
Successfully installed GitPython-3.1.35 docker-pycreds-0.4.0 gitdb-4.0.10 pathtools-0.1.2 sentry-sdk-1.30.0 setproctitle-1.3.2 smmap-5.0.0 wandb-0.15.10

I used an A100 GPU machine with Python 3.10 and cuda 11.8 to run this notebook. It took about an hour to run.

### Loading libraries

In [1]:
from datetime import datetime
import os
import sys

import torch
from peft import (
    LoraConfig,
    get_peft_model,
    get_peft_model_state_dict,
    prepare_model_for_int8_training,
    set_peft_model_state_dict,
)
from transformers import AutoTokenizer, AutoModelForCausalLM, TrainingArguments, Trainer, DataCollatorForSeq2Seq

(If you have import errors, try restarting your Jupyter kernel)

### Load dataset

In [2]:
from datasets import load_dataset
train_dataset = load_dataset('json', data_files='/content/train_llama_format.json', split='train')
eval_dataset = load_dataset('json', data_files='/content/validation_llama_format.json', split='train')

Downloading and preparing dataset json/default to /root/.cache/huggingface/datasets/json/default-d1fb8c3c3dbf6fdf/0.0.0/0f7e3662623656454fcd2b650f34e886a7db4b9104504885bd462096cc7a9f51...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Generating train split: 0 examples [00:00, ? examples/s]

Dataset json downloaded and prepared to /root/.cache/huggingface/datasets/json/default-d1fb8c3c3dbf6fdf/0.0.0/0f7e3662623656454fcd2b650f34e886a7db4b9104504885bd462096cc7a9f51. Subsequent calls will reuse this data.
Downloading and preparing dataset json/default to /root/.cache/huggingface/datasets/json/default-4920a7d5e56c3417/0.0.0/0f7e3662623656454fcd2b650f34e886a7db4b9104504885bd462096cc7a9f51...

Downloading data files:   0%|          | 0/1 [00:00<?, ?it/s]

Extracting data files:   0%|          | 0/1 [00:00<?, ?it/s]

Generating train split: 0 examples [00:00, ? examples/s]

Dataset json downloaded and prepared to /root/.cache/huggingface/datasets/json/default-4920a7d5e56c3417/0.0.0/0f7e3662623656454fcd2b650f34e886a7db4b9104504885bd462096cc7a9f51. Subsequent calls will reuse this data.

The above pulls the dataset from the Huggingface Hub and splits 10% of it into an evaluation set to check how well the model is doing through training. If you want to load your own dataset do this:

```
train_dataset = load_dataset('json', data_files='train_set.jsonl', split='train')
eval_dataset = load_dataset('json', data_files='validation_set.jsonl', split='train')
```

And if you want to view any samples in the dataset just do something like:``` ```

In [3]:
print(train_dataset[3])
train_dataset

{'input': 'You are a powerful text-to-SQL model. Here is a database schema:\ndepartment :\nDepartment_ID [ INT ] primary_key\nName [ TEXT ]\nCreation [ TEXT ]\nRanking [ INT ]\nBudget_in_Billions [ INT ]\nNum_Employees [ INT ]\n\nhead :\nhead_ID [ INT ] primary_key\nname [ TEXT ]\nborn_state [ TEXT ]\nage [ INT ]\n\nmanagement :\ndepartment_ID [ INT ] primary_key management.department_ID = department.Department_ID\nhead_ID [ INT ] management.head_ID = head.head_ID\ntemporary_acting [ TEXT ]\n\nWrite an SQL query that answers the following: What are the maximum and minimum budget of the departments? \n### Response:', 'output': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department;'}

Dataset({
    features: ['input', 'output'],
    num_rows: 7000
})

Each entry is made up of a text 'question', the sql table 'context' and the 'answer'.

### Load model
I load code llama from huggingface in int8. Standard for Lora:

In [4]:
base_model = "codellama/CodeLlama-7b-hf"
model = AutoModelForCausalLM.from_pretrained(
    base_model,
    load_in_8bit=True,
    torch_dtype=torch.float16,
    device_map="auto",
)
tokenizer = AutoTokenizer.from_pretrained("codellama/CodeLlama-7b-hf")

Downloading (…)lve/main/config.json:   0%|          | 0.00/637 [00:00<?, ?B/s]

Downloading (…)fetensors.index.json:   0%|          | 0.00/25.1k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/2 [00:00<?, ?it/s]

Downloading (…)of-00002.safetensors:   0%|          | 0.00/9.98G [00:00<?, ?B/s]

Downloading (…)of-00002.safetensors:   0%|          | 0.00/3.50G [00:00<?, ?B/s]

WARNING:accelerate.utils.modeling:The model weights are not tied. Please use the `tie_weights` method before using the `infer_auto_device` function.

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Downloading (…)neration_config.json:   0%|          | 0.00/116 [00:00<?, ?B/s]

Downloading (…)okenizer_config.json:   0%|          | 0.00/749 [00:00<?, ?B/s]

Downloading tokenizer.model:   0%|          | 0.00/500k [00:00<?, ?B/s]

Downloading (…)/main/tokenizer.json:   0%|          | 0.00/1.84M [00:00<?, ?B/s]

Downloading (…)cial_tokens_map.json:   0%|          | 0.00/411 [00:00<?, ?B/s]

torch_dtype=torch.float16 means computations are performed using a float16 representation, even though the values themselves are 8 bit ints.

If you get error "ValueError: Tokenizer class CodeLlamaTokenizer does not exist or is not currently imported." Make sure you have transformers version is 4.33.0.dev0 and accelerate is >=0.20.3.

### 3. Check base model
A very good common practice is to check whether a model can already do the task at hand. Fine-tuning is something you want to try to avoid at all cost:

In [5]:
eval_prompt = eval_dataset[0]['input']
print(eval_prompt)
# {'question': 'Name the comptroller for office of prohibition', 'context': 'CREATE TABLE table_22607062_1 (comptroller VARCHAR, ticket___office VARCHAR)', 'answer': 'SELECT comptroller FROM table_22607062_1 WHERE ticket___office = "Prohibition"'}
model_input = tokenizer(eval_prompt, return_tensors="pt").to("cuda")

model.eval()
with torch.no_grad():
    print(tokenizer.decode(model.generate(**model_input, max_new_tokens=50)[0], skip_special_tokens=True))

Setting `pad_token_id` to `eos_token_id`:2 for open-end generation.

You are a powerful text-to-SQL model. Here is a database schema:
stadium :
Stadium_ID [ INT ] primary_key
Location [ TEXT ]
Name [ TEXT ]
Capacity [ INT ]
Highest [ INT ]
Lowest [ INT ]
Average [ INT ]

singer :
Singer_ID [ INT ] primary_key
Name [ TEXT ]
Country [ TEXT ]
Song_Name [ TEXT ]
Song_release_year [ TEXT ]
Age [ INT ]
Is_male [ bool ]

concert :
concert_ID [ INT ] primary_key
concert_Name [ TEXT ]
Theme [ TEXT ]
Stadium_ID [ TEXT ] concert.Stadium_ID = stadium.Stadium_ID
Year [ TEXT ]

singer_in_concert :
concert_ID [ INT ] primary_key singer_in_concert.concert_ID = concert.concert_ID
Singer_ID [ TEXT ] singer_in_concert.Singer_ID = singer.Singer_ID

Write an SQL query that answers the following: How many singers do we have?
### Response:
You are a powerful text-to-SQL model. Here is a database schema:
stadium :
Stadium_ID [ INT ] primary_key
Location [ TEXT ]
Name [ TEXT ]
Capacity [ INT ]
Highest [ INT ]
Lowest [ INT ]
Average [ INT ]

singer :
Singer_ID [ INT ] primary_key
Name [ TEXT ]
Country [ TEXT ]
Song_Name [ TEXT ]
Song_release_year [ TEXT ]
Age [ INT ]
Is_male [ bool ]

concert :
concert_ID [ INT ] primary_key
concert_Name [ TEXT ]
Theme [ TEXT ]
Stadium_ID [ TEXT ] concert.Stadium_ID = stadium.Stadium_ID
Year [ TEXT ]

singer_in_concert :
concert_ID [ INT ] primary_key singer_in_concert.concert_ID = concert.concert_ID
Singer_ID [ TEXT ] singer_in_concert.Singer_ID = singer.Singer_ID

Write an SQL query that answers the following: How many singers do we have?
### Response:

```
SELECT COUNT(DISTINCT Singer_ID) FROM singer_in_concert
```

### Explanation:

We have 10 singers.

### Solution:

I get the output:
```
SELECT * FROM table_name_12 WHERE class > 91.5 AND city_of_license = 'hyannis, nebraska'
```
which is clearly wrong if the input is asking for just class!

### 4. Tokenization
Setup some tokenization settings like left padding because it makes [training use less memory](https://ai.stackexchange.com/questions/41485/while-fine-tuning-a-decoder-only-llm-like-llama-on-chat-dataset-what-kind-of-pa):

In [6]:
tokenizer.add_eos_token = True
tokenizer.pad_token_id = 0
tokenizer.padding_side = "left"

Setup the tokenize function to make labels and input_ids the same. This is basically what [self-supervised fine-tuning](https://neptune.ai/blog/self-supervised-learning) is:

In [7]:
def tokenize(prompt):
    result = tokenizer(
        prompt,
        truncation=True,
        max_length=512,
        padding=False,
        return_tensors=None,
    )

    # "self-supervised learning" means the labels are also the inputs:
    result["labels"] = result["input_ids"].copy()

    return result

And run convert each data_point into a prompt that I found online that works quite well:

In [8]:
def generate_and_tokenize_prompt(data_point):
    full_prompt =f"""{data_point["input"]}
{data_point["output"]}
"""
    print(full_prompt)
    return tokenize(full_prompt)

Reformat to prompt and tokenize each sample:

In [9]:
tokenized_train_dataset = train_dataset.map(generate_and_tokenize_prompt)
tokenized_val_dataset = eval_dataset.map(generate_and_tokenize_prompt)

Map:   0%|          | 0/7000 [00:00<?, ? examples/s]

Streaming output truncated to the last 5000 lines.
role_code [ TEXT ] Employees.role_code = Roles.role_code
employee_name [ TEXT ]
other_details [ TEXT ]

Document_Drafts :
document_id [ INT ] primary_key Document_Drafts.document_id = Documents.document_id
draft_number [ INT ]
draft_details [ TEXT ]

Draft_Copies :
document_id [ INT ] primary_key Draft_Copies.document_id = Document_Drafts.document_id
draft_number [ INT ] Draft_Copies.draft_number = Document_Drafts.draft_number
copy_number [ INT ]

Circulation_History :
document_id [ INT ] primary_key Circulation_History.document_id = Draft_Copies.document_id
draft_number [ INT ] Circulation_History.draft_number = Draft_Copies.draft_number
copy_number [ INT ] Circulation_History.copy_number = Draft_Copies.copy_number
employee_id [ INT ] Circulation_History.employee_id = Employees.employee_id

Documents_Mailed :
document_id [ INT ] primary_key Documents_Mailed.document_id = Documents.document_id
mailed_to_address_id [ INT ] Documents_Mailed.mailed_to_address_id = Addresses.address_id
mailing_date [ TEXT ]

Write an SQL query that answers the following: List all employees in the circulation history of the document with id 1. List the employee's name.
### Response:
SELECT Employees.employee_name FROM Employees JOIN Circulation_History ON Circulation_History.employee_id = Employees.employee_id WHERE Circulation_History.document_id = 1;

You are a powerful text-to-SQL model. Here is a database schema:
Ref_Document_Types :
document_type_code [ TEXT ] primary_key
document_type_description [ TEXT ]

Roles :
role_code [ TEXT ] primary_key
role_description [ TEXT ]

Addresses :
address_id [ INT ] primary_key
address_details [ TEXT ]

Ref_Document_Status :
document_status_code [ TEXT ] primary_key
document_status_description [ TEXT ]

Ref_Shipping_Agents :
shipping_agent_code [ TEXT ] primary_key
shipping_agent_name [ TEXT ]
shipping_agent_description [ TEXT ]

Documents :
document_id [ INT ] primary_key
document_status_code [ TEXT ] Documents.document_status_code = Ref_Document_Status.document_status_code
document_type_code [ TEXT ] Documents.document_type_code = Ref_Document_Types.document_type_code
shipping_agent_code [ TEXT ] Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code
receipt_date [ TEXT ]
receipt_number [ TEXT ]
other_details [ TEXT ]

Employees :
employee_id [ INT ] primary_key
role_code [ TEXT ] Employees.role_code = Roles.role_code
employee_name [ TEXT ]
other_details [ TEXT ]

Document_Drafts :
document_id [ INT ] primary_key Document_Drafts.document_id = Documents.document_id
draft_number [ INT ]
draft_details [ TEXT ]

Draft_Copies :
document_id [ INT ] primary_key Draft_Copies.document_id = Document_Drafts.document_id
draft_number [ INT ] Draft_Copies.draft_number = Document_Drafts.draft_number
copy_number [ INT ]

Circulation_History :
document_id [ INT ] primary_key Circulation_History.document_id = Draft_Copies.document_id
draft_number [ INT ] Circulation_History.draft_number = Draft_Copies.draft_number
copy_number [ INT ] Circulation_History.copy_number = Draft_Copies.copy_number
employee_id [ INT ] Circulation_History.employee_id = Employees.employee_id

Documents_Mailed :
document_id [ INT ] primary_key Documents_Mailed.document_id = Documents.document_id
mailed_to_address_id [ INT ] Documents_Mailed.mailed_to_address_id = Addresses.address_id
mailing_date [ TEXT ]

Write an SQL query that answers the following: List the employees who have not showed up in any circulation history of documents. List the employee's name.
### Response:
SELECT employee_name FROM Employees EXCEPT SELECT Employees.employee_name FROM Employees JOIN Circulation_History ON Circulation_History.employee_id = Employees.employee_id;

You are a powerful text-to-SQL model. Here is a database schema:
Ref_Document_Types :
document_type_code [ TEXT ] primary_key
document_type_description [ TEXT ]

Roles :
role_code [ TEXT ] primary_key
role_description [ TEXT ]

Addresses :
address_id [ INT ] primary_key
address_details [ TEXT ]

Ref_Document_Status :
document_status_code [ TEXT ] primary_key
document_status_description [ TEXT ]

Ref_Shipping_Agents :
shipping_agent_code [ TEXT ] primary_key
shipping_agent_name [ TEXT ]
shipping_agent_description [ TEXT ]

Documents :
document_id [ INT ] primary_key
document_status_code [ TEXT ] Documents.document_status_code = Ref_Document_Status.document_status_code
document_type_code [ TEXT ] Documents.document_type_code = Ref_Document_Types.document_type_code
shipping_agent_code [ TEXT ] Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code
receipt_date [ TEXT ]
receipt_number [ TEXT ]
other_details [ TEXT ]

Employees :
employee_id [ INT ] primary_key
role_code [ TEXT ] Employees.role_code = Roles.role_code
employee_name [ TEXT ]
other_details [ TEXT ]

Document_Drafts :
document_id [ INT ] primary_key Document_Drafts.document_id = Documents.document_id
draft_number [ INT ]
draft_details [ TEXT ]

Draft_Copies :
document_id [ INT ] primary_key Draft_Copies.document_id = Document_Drafts.document_id
draft_number [ INT ] Draft_Copies.draft_number = Document_Drafts.draft_number
copy_number [ INT ]

Circulation_History :
document_id [ INT ] primary_key Circulation_History.document_id = Draft_Copies.document_id
draft_number [ INT ] Circulation_History.draft_number = Draft_Copies.draft_number
copy_number [ INT ] Circulation_History.copy_number = Draft_Copies.copy_number
employee_id [ INT ] Circulation_History.employee_id = Employees.employee_id

Documents_Mailed :
document_id [ INT ] primary_key Documents_Mailed.document_id = Documents.document_id
mailed_to_address_id [ INT ] Documents_Mailed.mailed_to_address_id = Addresses.address_id
mailing_date [ TEXT ]

Write an SQL query that answers the following: Which employee has showed up in most circulation history documents. List the employee's name and the number of drafts and copies.
### Response:
SELECT Employees.employee_name , count(*) FROM Employees JOIN Circulation_History ON Circulation_History.employee_id = Employees.employee_id GROUP BY Circulation_History.document_id , Circulation_History.draft_number , Circulation_History.copy_number ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Ref_Document_Types :
document_type_code [ TEXT ] primary_key
document_type_description [ TEXT ]

Roles :
role_code [ TEXT ] primary_key
role_description [ TEXT ]

Addresses :
address_id [ INT ] primary_key
address_details [ TEXT ]

Ref_Document_Status :
document_status_code [ TEXT ] primary_key
document_status_description [ TEXT ]

Ref_Shipping_Agents :
shipping_agent_code [ TEXT ] primary_key
shipping_agent_name [ TEXT ]
shipping_agent_description [ TEXT ]

Documents :
document_id [ INT ] primary_key
document_status_code [ TEXT ] Documents.document_status_code = Ref_Document_Status.document_status_code
document_type_code [ TEXT ] Documents.document_type_code = Ref_Document_Types.document_type_code
shipping_agent_code [ TEXT ] Documents.shipping_agent_code = Ref_Shipping_Agents.shipping_agent_code
receipt_date [ TEXT ]
receipt_number [ TEXT ]
other_details [ TEXT ]

Employees :
employee_id [ INT ] primary_key
role_code [ TEXT ] Employees.role_code = Roles.role_code
employee_name [ TEXT ]
other_details [ TEXT ]

Document_Drafts :
document_id [ INT ] primary_key Document_Drafts.document_id = Documents.document_id
draft_number [ INT ]
draft_details [ TEXT ]

Draft_Copies :
document_id [ INT ] primary_key Draft_Copies.document_id = Document_Drafts.document_id
draft_number [ INT ] Draft_Copies.draft_number = Document_Drafts.draft_number
copy_number [ INT ]

Circulation_History :
document_id [ INT ] primary_key Circulation_History.document_id = Draft_Copies.document_id
draft_number [ INT ] Circulation_History.draft_number = Draft_Copies.draft_number
copy_number [ INT ] Circulation_History.copy_number = Draft_Copies.copy_number
employee_id [ INT ] Circulation_History.employee_id = Employees.employee_id

Documents_Mailed :
document_id [ INT ] primary_key Documents_Mailed.document_id = Documents.document_id
mailed_to_address_id [ INT ] Documents_Mailed.mailed_to_address_id = Addresses.address_id
mailing_date [ TEXT ]

Write an SQL query that answers the following: For each document, list the number of employees who have showed up in the circulation history of that document. List the document ids and number of employees.
### Response:
SELECT document_id ,  count(DISTINCT employee_id) FROM Circulation_History GROUP BY document_id;

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: List all department names ordered by their starting date.
### Response:
SELECT dname FROM department ORDER BY mgr_start_date;

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: find all dependent names who have a spouse relation with some employee.
### Response:
SELECT Dependent_name FROM dependent WHERE relationship  =  'Spouse';

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: how many female dependents are there?
### Response:
SELECT count(*) FROM dependent WHERE sex  =  'F';

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: Find the names of departments that are located in Houston.
### Response:
SELECT t1.dname FROM department AS t1 JOIN dept_locations AS t2 ON t1.dnumber  =  t2.dnumber WHERE t2.dlocation  =  'Houston';

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: Return the first names and last names of employees who earn more than 30000 in salary.
### Response:
SELECT fname ,  lname FROM employee WHERE salary  >  30000;

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: Find the number of employees of each gender whose salary is lower than 50000.
### Response:
SELECT count(*) ,  sex FROM employee WHERE salary  <  50000 GROUP BY sex;

You are a powerful text-to-SQL model. Here is a database schema:
works_on :
Essn [ INT ] primary_key
Pno [ INT ]
Hours [ INT ]

employee :
Fname [ TEXT ]
Minit [ TEXT ]
Lname [ TEXT ]
Ssn [ INT ] primary_key
Bdate [ TEXT ]
Address [ TEXT ]
Sex [ TEXT ]
Salary [ INT ]
Super_ssn [ INT ]
Dno [ INT ]

department :
Dname [ TEXT ]
Dnumber [ INT ] primary_key
Mgr_ssn [ INT ]
Mgr_start_date [ TEXT ]

project :
Pname [ TEXT ]
Pnumber [ INT ] primary_key
Plocation [ TEXT ]
Dnum [ INT ]

dependent :
Essn [ INT ] primary_key
Dependent_name [ TEXT ]
Sex [ TEXT ]
Bdate [ TEXT ]
Relationship [ TEXT ]

dept_locations :
Dnumber [ INT ] primary_key
Dlocation [ TEXT ]

Write an SQL query that answers the following: list the first and last names, and the addresses of all employees in the ascending order of their birth date.
### Response:
SELECT fname ,  lname ,  address FROM employee ORDER BY Bdate;

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID
Participant_ID [ INT ] Participants_in_Events.Participant_ID = Participants.Participant_ID

Write an SQL query that answers the following: what are the event details of the services that have the type code 'Marriage'?
### Response:
SELECT T1.event_details FROM EVENTS AS T1 JOIN Services AS T2 ON T1.Service_ID  =  T2.Service_ID WHERE T2.Service_Type_Code  =  'Marriage';

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID
Participant_ID [ INT ] Participants_in_Events.Participant_ID = Participants.Participant_ID

Write an SQL query that answers the following: What are the ids and details of events that have more than one participants?
### Response:
SELECT T1.event_id ,  T1.event_details FROM EVENTS AS T1 JOIN Participants_in_Events AS T2 ON T1.Event_ID  =  T2.Event_ID GROUP BY T1.Event_ID HAVING count(*)  >  1;

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID
Participant_ID [ INT ] Participants_in_Events.Participant_ID = Participants.Participant_ID

Write an SQL query that answers the following: How many events have each participants attended? List the participant id, type and the number.
### Response:
SELECT T1.Participant_ID ,  T1.Participant_Type_Code ,  count(*) FROM Participants AS T1 JOIN Participants_in_Events AS T2 ON T1.Participant_ID  =  T2.Participant_ID GROUP BY T1.Participant_ID;

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID
Participant_ID [ INT ] Participants_in_Events.Participant_ID = Participants.Participant_ID

Write an SQL query that answers the following: What are all the the participant ids, type code and details?
### Response:
SELECT Participant_ID ,  Participant_Type_Code ,  Participant_Details FROM  Participants;

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID
Participant_ID [ INT ] Participants_in_Events.Participant_ID = Participants.Participant_ID

Write an SQL query that answers the following: How many participants belong to the type 'Organizer'?
### Response:
SELECT count(*) FROM participants WHERE participant_type_code  =  'Organizer';

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID
Participant_ID [ INT ] Participants_in_Events.Participant_ID = Participants.Participant_ID

Write an SQL query that answers the following: List the type of the services in alphabetical order.
### Response:
SELECT service_type_code FROM services ORDER BY service_type_code;

You are a powerful text-to-SQL model. Here is a database schema:
Services :
Service_ID [ INT ] primary_key
Service_Type_Code [ TEXT ]

Participants :
Participant_ID [ INT ] primary_key
Participant_Type_Code [ TEXT ]
Participant_Details [ TEXT ]

Events :
Event_ID [ INT ] primary_key
Service_ID [ INT ] Events.Service_ID = Services.Service_ID
Event_Details [ TEXT ]

Participants_in_Events :
Event_ID [ INT ] primary_key Participants_in_Events.Event_ID = Events.Event_ID

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Streaming output truncated to the last 5000 lines.
You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the last names of all the teachers that teach GELL TAMI.
### Response:
SELECT T2.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.firstname  =  "GELL" AND T1.lastname  =  "TAMI";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: What are the last names of the teachers who teach the student called GELL TAMI?
### Response:
SELECT T2.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.firstname  =  "GELL" AND T1.lastname  =  "TAMI";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: How many students does LORIA ONDERSMA teaches?
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "LORIA" AND T2.lastname  =  "ONDERSMA";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Count the number of students the teacher LORIA ONDERSMA teaches.
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "LORIA" AND T2.lastname  =  "ONDERSMA";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: How many students does KAWA GORDON teaches?
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "KAWA" AND T2.lastname  =  "GORDON";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the number of students taught by the teacher KAWA GORDON.
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "KAWA" AND T2.lastname  =  "GORDON";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the number of students taught by TARRING LEIA.
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "TARRING" AND T2.lastname  =  "LEIA";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: How many students are taught by teacher TARRING LEIA?
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "TARRING" AND T2.lastname  =  "LEIA";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: How many teachers does the student named CHRISSY NABOZNY have?
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.firstname  =  "CHRISSY" AND T1.lastname  =  "NABOZNY";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the number of teachers who teach the student called CHRISSY NABOZNY.
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.firstname  =  "CHRISSY" AND T1.lastname  =  "NABOZNY";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: How many teachers does the student named MADLOCK RAY have?
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.firstname  =  "MADLOCK" AND T1.lastname  =  "RAY";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the number of teachers who teach the student called MADLOCK RAY.
### Response:
SELECT count(*) FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.firstname  =  "MADLOCK" AND T1.lastname  =  "RAY";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find all first-grade students who are NOT taught by OTHA MOYER. Report their first and last names.
### Response:
SELECT DISTINCT T1.firstname ,  T1.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.grade  =  1 EXCEPT SELECT T1.firstname ,  T1.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "OTHA" AND T2.lastname  =  "MOYER";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: What are the first and last names of the first-grade students who are NOT taught by teacher OTHA MOYER?
### Response:
SELECT DISTINCT T1.firstname ,  T1.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.grade  =  1 EXCEPT SELECT T1.firstname ,  T1.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T2.firstname  =  "OTHA" AND T2.lastname  =  "MOYER";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the last names of the students in third grade that are not taught by COVIN JEROME.
### Response:
SELECT DISTINCT T1.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.grade  =  3 AND T2.firstname != "COVIN" AND T2.lastname != "JEROME";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Which students in third grade are not taught by teacher COVIN JEROME? Give me the last names of the students.
### Response:
SELECT DISTINCT T1.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom WHERE T1.grade  =  3 AND T2.firstname != "COVIN" AND T2.lastname != "JEROME";

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each grade, report the grade, the number of classrooms in which it is taught and the total number of students in the grade.
### Response:
SELECT grade ,  count(DISTINCT classroom) ,  count(*) FROM list GROUP BY grade;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each grade, return the grade number, the number of classrooms used for the grade, and the total number of students enrolled in the grade.
### Response:
SELECT grade ,  count(DISTINCT classroom) ,  count(*) FROM list GROUP BY grade;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each classroom, report the classroom number and the number of grades using it.
### Response:
SELECT classroom ,  count(DISTINCT grade) FROM list GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each classroom, show the classroom number and count the number of distinct grades that use the room.
### Response:
SELECT classroom ,  count(DISTINCT grade) FROM list GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Which classroom has the most students?
### Response:
SELECT classroom FROM list GROUP BY classroom ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the classroom that the most students use.
### Response:
SELECT classroom FROM list GROUP BY classroom ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Report the number of students in each classroom.
### Response:
SELECT classroom ,  count(*) FROM list GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each classroom, show the classroom number and find how many students are using it.
### Response:
SELECT classroom ,  count(*) FROM list GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each grade 0 classroom, report the total number of students.
### Response:
SELECT classroom ,  count(*) FROM list WHERE grade  =  "0" GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each grade 0 classroom, return the classroom number and the count of students.
### Response:
SELECT classroom ,  count(*) FROM list WHERE grade  =  "0" GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Report the total number of students for each fourth-grade classroom.
### Response:
SELECT classroom ,  count(*) FROM list WHERE grade  =  "4" GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: For each fourth-grade classroom, show the classroom number and the total number of students using it.
### Response:
SELECT classroom ,  count(*) FROM list WHERE grade  =  "4" GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the name of the teacher who teaches the largest number of students.
### Response:
SELECT T2.firstname ,  T2.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom GROUP BY T2.firstname ,  T2.lastname ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Which teacher teaches the most students? Give me the first name and last name of the teacher.
### Response:
SELECT T2.firstname ,  T2.lastname FROM list AS T1 JOIN teachers AS T2 ON T1.classroom  =  T2.classroom GROUP BY T2.firstname ,  T2.lastname ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: Find the number of students in one classroom.
### Response:
SELECT count(*) ,  classroom FROM list GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
list :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Grade [ INT ]
Classroom [ INT ]

teachers :
LastName [ TEXT ] primary_key
FirstName [ TEXT ]
Classroom [ INT ]

Write an SQL query that answers the following: How many students does one classroom have?
### Response:
SELECT count(*) ,  classroom FROM list GROUP BY classroom;

You are a powerful text-to-SQL model. Here is a database schema:
people :
People_ID [ INT ] primary_key
Age [ INT ]
Name [ TEXT ]
Nationality [ TEXT ]
Graduation_College [ TEXT ]

company :
Company_ID [ INT ] primary_key
Name [ TEXT ]
Headquarters [ TEXT ]
Industry [ TEXT ]
Sales_in_Billion [ INT ]
Profits_in_Billion [ INT ]
Assets_in_Billion [ INT ]
Market_Value_in_Billion [ INT ]

employment :
Company_ID [ INT ] primary_key employment.Company_ID = company.Company_ID
People_ID [ INT ] employment.People_ID = people.People_ID
Year_working [ INT ]

Write an SQL query that answers the following: How many companies are headquartered in the US?
### Response:
SELECT count(*) FROM company WHERE Headquarters  =  'USA';

You are a powerful text-to-SQL model. Here is a database schema:
people :
People_ID [ INT ] primary_key
Age [ INT ]
Name [ TEXT ]
Nationality [ TEXT ]
Graduation_College [ TEXT ]

company :
Company_ID [ INT ] primary_key
Name [ TEXT ]
Headquarters [ TEXT ]
Industry [ TEXT ]
Sales_in_Billion [ INT ]
Profits_in_Billion [ INT ]
Assets_in_Billion [ INT ]
Market_Value_in_Billion [ INT ]

employment :
Company_ID [ INT ] primary_key employment.Company_ID = company.Company_ID
People_ID [ INT ] employment.People_ID = people.People_ID
Year_working [ INT ]

Write an SQL query that answers the following: List the names of companies by ascending number of sales.
### Response:
SELECT Name FROM company ORDER BY Sales_in_Billion ASC;

You are a powerful text-to-SQL model. Here is a database schema:
people :
People_ID [ INT ] primary_key
Age [ INT ]
Name [ TEXT ]
Nationality [ TEXT ]
Graduation_College [ TEXT ]

company :
Company_ID [ INT ] primary_key
Name [ TEXT ]
Headquarters [ TEXT ]
Industry [ TEXT ]
Sales_in_Billion [ INT ]
Profits_in_Billion [ INT ]
Assets_in_Billion [ INT ]
Market_Value_in_Billion [ INT ]

employment :
Company_ID [ INT ] primary_key employment.Company_ID = company.Company_ID
People_ID [ INT ] employment.People_ID = people.People_ID
Year_working [ INT ]

Write an SQL query that answers the following: What are the headquarters and industries of all companies?
### Response:
SELECT Headquarters ,  Industry FROM company;

You are a powerful text-to-SQL model. Here is a database schema:
people :
People_ID [ INT ] primary_key
Age [ INT ]
Name [ TEXT ]
Nationality [ TEXT ]
Graduation_College [ TEXT ]

company :
Company_ID [ INT ] primary_key
Name [ TEXT ]
Headquarters [ TEXT ]
Industry [ TEXT ]
Sales_in_Billion [ INT ]
Profits_in_Billion [ INT ]
Assets_in_Billion [ INT ]
Market_Value_in_Billion [ INT ]

employment :
Company_ID [ INT ] primary_key employment.Company_ID = company.Company_ID
People_ID [ INT ] employment.People_ID = people.People_ID
Year_working [ INT ]

Write an SQL query that answers the following: Show the names of companies in the banking or retailing industry?
### Response:
SELECT Name FROM company WHERE Industry  =  "Banking" OR Industry  =  "Retailing";

You are a powerful text-to-SQL model. Here is a database schema:
people :
People_ID [ INT ] primary_key
Age [ INT ]
Name [ TEXT ]
Nationality [ TEXT ]
Graduation_College [ TEXT ]

company :
Company_ID [ INT ] primary_key
Name [ TEXT ]
Headquarters [ TEXT ]
Industry [ TEXT ]
Sales_in_Billion [ INT ]
Profits_in_Billion [ INT ]
Assets_in_Billion [ INT ]
Market_Value_in_Billion [ INT ]

employment :
Company_ID [ INT ] primary_key employment.Company_ID = company.Company_ID
People_ID [ INT ] employment.People_ID = people.People_ID
Year_working [ INT ]

Write an SQL query that answers the following: What is the maximum and minimum market value of companies?
### Response:
SELECT max(Market_Value_in_Billion) ,  min(Market_Value_in_Billion) FROM company;

You are a powerful text-to-SQL model. Here is a database schema:
people :
People_ID [ INT ] primary_key
Age [ INT ]
Name [ TEXT ]
Nationality [ TEXT ]
Graduation_College [ TEXT ]

company :
Company_ID [ INT ] primary_key
Name [ TEXT ]
Headquarters [ TEXT ]
Industry [ TEXT ]
Sales_in_Billion [ INT ]
Profits_in_Billion [ INT ]
Assets_in_Billion [ INT ]

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Streaming output truncated to the last 5000 lines.
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: For each country and airline name, how many routes are there?
### Response:
SELECT T1.country ,  T1.name ,  count(*) FROM airlines AS T1 JOIN routes AS T2 ON T1.alid  =  T2.alid GROUP BY T1.country ,  T1.name;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the total number of routes for each country and airline in that country?
### Response:
SELECT T1.country ,  T1.name ,  count(*) FROM airlines AS T1 JOIN routes AS T2 ON T1.alid  =  T2.alid GROUP BY T1.country ,  T1.name;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the number of routes with destination airports in Italy.
### Response:
SELECT count(*) FROM routes AS T1 JOIN airports AS T2 ON T1.dst_apid  =  T2.apid WHERE T2.country  =  'Italy';

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the number of routes whose destinations are Italian airports?
### Response:
SELECT count(*) FROM routes AS T1 JOIN airports AS T2 ON T1.dst_apid  =  T2.apid WHERE T2.country  =  'Italy';

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Return the number of routes with destination airport in Italy operated by the airline with name 'American Airlines'.
### Response:
SELECT count(*) FROM routes AS T1 JOIN airports AS T2 ON T1.dst_apid  =  T2.apid JOIN airlines AS T3 ON T1.alid  =  T3.alid WHERE T2.country  =  'Italy' AND T3.name  =  'American Airlines';

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the number of routes operated by the airline American Airlines whose destinations are in Italy?
### Response:
SELECT count(*) FROM routes AS T1 JOIN airports AS T2 ON T1.dst_apid  =  T2.apid JOIN airlines AS T3 ON T1.alid  =  T3.alid WHERE T2.country  =  'Italy' AND T3.name  =  'American Airlines';

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the number of routes that have destination John F Kennedy International Airport.
### Response:
SELECT count(*) FROM airports AS T1 JOIN routes AS T2 ON T1.apid  =  T2.dst_apid WHERE T1.name  =  'John F Kennedy International Airport';

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the number of routes that end at John F Kennedy International Airport?
### Response:
SELECT count(*) FROM airports AS T1 JOIN routes AS T2 ON T1.apid  =  T2.dst_apid WHERE T1.name  =  'John F Kennedy International Airport';

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the number of routes from the United States to Canada.
### Response:
SELECT count(*) FROM routes WHERE dst_apid IN (SELECT apid FROM airports WHERE country  =  'Canada') AND src_apid IN (SELECT apid FROM airports WHERE country  =  'United States');

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: How many routes go from the United States to Canada?
### Response:
SELECT count(*) FROM routes WHERE dst_apid IN (SELECT apid FROM airports WHERE country  =  'Canada') AND src_apid IN (SELECT apid FROM airports WHERE country  =  'United States');

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the id of routes whose source and destination airports are in the United States.
### Response:
SELECT rid FROM routes WHERE dst_apid IN (SELECT apid FROM airports WHERE country  =  'United States') AND src_apid IN (SELECT apid FROM airports WHERE country  =  'United States');

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the id of the routes whose source and destination airports are in the United States?
### Response:
SELECT rid FROM routes WHERE dst_apid IN (SELECT apid FROM airports WHERE country  =  'United States') AND src_apid IN (SELECT apid FROM airports WHERE country  =  'United States');

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the name of airline which runs the most number of routes.
### Response:
SELECT T1.name FROM airlines AS T1 JOIN routes AS T2 ON T1.alid  =  T2.alid GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the name of the airline with the most routes?
### Response:
SELECT T1.name FROM airlines AS T1 JOIN routes AS T2 ON T1.alid  =  T2.alid GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the busiest source airport that runs most number of routes in China.
### Response:
SELECT T1.name FROM airports AS T1 JOIN routes AS T2 ON T1.apid  =  T2.src_apid WHERE T1.country  =  'China' GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the name of the airport with the most number of routes that start in China?
### Response:
SELECT T1.name FROM airports AS T1 JOIN routes AS T2 ON T1.apid  =  T2.src_apid WHERE T1.country  =  'China' GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: Find the busiest destination airport that runs most number of routes in China.
### Response:
SELECT T1.name FROM airports AS T1 JOIN routes AS T2 ON T1.apid  =  T2.dst_apid WHERE T1.country  =  'China' GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
routes :
rid [ INT ] primary_key
dst_apid [ INT ] routes.dst_apid = airports.apid
dst_ap [ TEXT ]
src_apid [ INT ] routes.src_apid = airports.apid
src_ap [ TEXT ]
alid [ INT ] routes.alid = airlines.alid
airline [ TEXT ]
codeshare [ TEXT ]

airports :
apid [ INT ] primary_key
name [ TEXT ]
city [ TEXT ]
country [ TEXT ]
x [ INT ]
y [ INT ]
elevation [ INT ]
iata [ TEXT ]
icao [ TEXT ]

airlines :
alid [ INT ] primary_key
name [ TEXT ]
iata [ TEXT ]
icao [ TEXT ]
callsign [ TEXT ]
country [ TEXT ]
active [ TEXT ]

Write an SQL query that answers the following: What is the name of the airport that is the destination of the most number of routes that start in China?
### Response:
SELECT T1.name FROM airports AS T1 JOIN routes AS T2 ON T1.apid  =  T2.dst_apid WHERE T1.country  =  'China' GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Customers :
customer_id [ INT ] primary_key
customer_name [ TEXT ]
customer_details [ TEXT ]

Invoices :
invoice_number [ INT ] primary_key
invoice_date [ TEXT ]
invoice_details [ TEXT ]

Orders :
order_id [ INT ] primary_key
customer_id [ INT ] Orders.customer_id = Customers.customer_id
order_status [ TEXT ]
date_order_placed [ TEXT ]
order_details [ TEXT ]

Products :
product_id [ INT ] primary_key
product_name [ TEXT ]
product_details [ TEXT ]

Order_Items :
order_item_id [ INT ] primary_key
product_id [ INT ] Order_Items.product_id = Products.product_id
order_id [ INT ] Order_Items.order_id = Orders.order_id
order_item_status [ TEXT ]
order_item_details [ TEXT ]

Shipments :
shipment_id [ INT ] primary_key
order_id [ INT ] Shipments.order_id = Orders.order_id
invoice_number [ INT ] Shipments.invoice_number = Invoices.invoice_number
shipment_tracking_number [ TEXT ]
shipment_date [ TEXT ]
other_shipment_details [ TEXT ]

Shipment_Items :
shipment_id [ INT ] Shipment_Items.shipment_id = Shipments.shipment_id
order_item_id [ INT ] Shipment_Items.order_item_id = Order_Items.order_item_id

Write an SQL query that answers the following: What is the id of the most recent order?
### Response:
SELECT order_id FROM orders ORDER BY date_order_placed DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Customers :
customer_id [ INT ] primary_key
customer_name [ TEXT ]
customer_details [ TEXT ]

Invoices :
invoice_number [ INT ] primary_key
invoice_date [ TEXT ]
invoice_details [ TEXT ]

Orders :
order_id [ INT ] primary_key
customer_id [ INT ] Orders.customer_id = Customers.customer_id
order_status [ TEXT ]
date_order_placed [ TEXT ]
order_details [ TEXT ]

Products :
product_id [ INT ] primary_key
product_name [ TEXT ]
product_details [ TEXT ]

Order_Items :
order_item_id [ INT ] primary_key
product_id [ INT ] Order_Items.product_id = Products.product_id
order_id [ INT ] Order_Items.order_id = Orders.order_id
order_item_status [ TEXT ]
order_item_details [ TEXT ]

Shipments :
shipment_id [ INT ] primary_key
order_id [ INT ] Shipments.order_id = Orders.order_id
invoice_number [ INT ] Shipments.invoice_number = Invoices.invoice_number
shipment_tracking_number [ TEXT ]
shipment_date [ TEXT ]
other_shipment_details [ TEXT ]

Shipment_Items :
shipment_id [ INT ] Shipment_Items.shipment_id = Shipments.shipment_id
order_item_id [ INT ] Shipment_Items.order_item_id = Order_Items.order_item_id

Write an SQL query that answers the following: Find the id of the order made most recently.
### Response:
SELECT order_id FROM orders ORDER BY date_order_placed DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Customers :
customer_id [ INT ] primary_key
customer_name [ TEXT ]
customer_details [ TEXT ]

Invoices :
invoice_number [ INT ] primary_key
invoice_date [ TEXT ]
invoice_details [ TEXT ]

Orders :
order_id [ INT ] primary_key
customer_id [ INT ] Orders.customer_id = Customers.customer_id
order_status [ TEXT ]
date_order_placed [ TEXT ]
order_details [ TEXT ]

Products :
product_id [ INT ] primary_key
product_name [ TEXT ]
product_details [ TEXT ]

Order_Items :
order_item_id [ INT ] primary_key
product_id [ INT ] Order_Items.product_id = Products.product_id
order_id [ INT ] Order_Items.order_id = Orders.order_id
order_item_status [ TEXT ]
order_item_details [ TEXT ]

Shipments :
shipment_id [ INT ] primary_key
order_id [ INT ] Shipments.order_id = Orders.order_id
invoice_number [ INT ] Shipments.invoice_number = Invoices.invoice_number
shipment_tracking_number [ TEXT ]
shipment_date [ TEXT ]
other_shipment_details [ TEXT ]

Shipment_Items :
shipment_id [ INT ] Shipment_Items.shipment_id = Shipments.shipment_id
order_item_id [ INT ] Shipment_Items.order_item_id = Order_Items.order_item_id

Write an SQL query that answers the following: what are the order id and customer id of the oldest order?
### Response:
SELECT order_id ,  customer_id FROM orders ORDER BY date_order_placed LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Customers :
customer_id [ INT ] primary_key
customer_name [ TEXT ]
customer_details [ TEXT ]

Invoices :
invoice_number [ INT ] primary_key
invoice_date [ TEXT ]
invoice_details [ TEXT ]

Orders :
order_id [ INT ] primary_key

Map:   0%|          | 0/1034 [00:00<?, ? examples/s]

You are a powerful text-to-SQL model. Here is a database schema:
stadium :
Stadium_ID [ INT ] primary_key
Location [ TEXT ]
Name [ TEXT ]
Capacity [ INT ]
Highest [ INT ]
Lowest [ INT ]
Average [ INT ]

singer :
Singer_ID [ INT ] primary_key
Name [ TEXT ]
Country [ TEXT ]
Song_Name [ TEXT ]
Song_release_year [ TEXT ]
Age [ INT ]
Is_male [ bool ]

concert :
concert_ID [ INT ] primary_key
concert_Name [ TEXT ]
Theme [ TEXT ]
Stadium_ID [ TEXT ] concert.Stadium_ID = stadium.Stadium_ID
Year [ TEXT ]

singer_in_concert :
concert_ID [ INT ] primary_key singer_in_concert.concert_ID = concert.concert_ID
Singer_ID [ TEXT ] singer_in_concert.Singer_ID = singer.Singer_ID

Write an SQL query that answers the following: How many singers do we have?
### Response:
SELECT count(*) FROM singer;

You are a powerful text-to-SQL model. Here is a database schema:
stadium :
Stadium_ID [ INT ] primary_key
Location [ TEXT ]
Name [ TEXT ]
Capacity [ INT ]
Highest [ INT ]
Lowest [ INT ]
Average [ INT ]

singer :
Singer_ID [ INT ] primary_key
Name [ TEXT ]
Country [ TEXT ]
Song_Name [ TEXT ]
Song_release_year [ TEXT ]
Age [ INT ]
Is_male [ bool ]

concert :
concert_ID [ INT ] primary_key
concert_Name [ TEXT ]
Theme [ TEXT ]
Stadium_ID [ TEXT ] concert.Stadium_ID = stadium.Stadium_ID
Year [ TEXT ]

singer_in_concert :
concert_ID [ INT ] primary_key singer_in_concert.concert_ID = concert.concert_ID
Singer_ID [ TEXT ] singer_in_concert.Singer_ID = singer.Singer_ID

Write an SQL query that answers the following: What is the total number of singers?
### Response:
SELECT count(*) FROM singer;

You are a powerful text-to-SQL model. Here is a database schema:
stadium :
Stadium_ID [ INT ] primary_key
Location [ TEXT ]
Name [ TEXT ]
Capacity [ INT ]
Highest [ INT ]
Lowest [ INT ]
Average [ INT ]

singer :
Singer_ID [ INT ] primary_key
Name [ TEXT ]
Country [ TEXT ]
Song_Name [ TEXT ]
Song_release_year [ TEXT ]
Age [ INT ]
Is_male [ bool ]

concert :
concert_ID [ INT ] primary_key
concert_Name [ TEXT ]
Theme [ TEXT ]
Stadium_ID [ TEXT ] concert.Stadium_ID = stadium.Stadium_ID
Year [ TEXT ]

singer_in_concert :
concert_ID [ INT ] primary_key singer_in_concert.concert_ID = concert.concert_ID
Singer_ID [ TEXT ] singer_in_concert.Singer_ID = singer.Singer_ID

Write an SQL query that answers the following: Show name, country, age for all singers ordered by age from the oldest to the youngest.
### Response:
SELECT name ,  country ,  age FROM singer ORDER BY age DESC;

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Streaming output truncated to the last 5000 lines.
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: Give me the description of the treatment type whose total cost is the lowest.
### Response:
SELECT T1.treatment_type_description FROM Treatment_types AS T1 JOIN Treatments AS T2 ON T1.treatment_type_code  =  T2.treatment_type_code GROUP BY T1.treatment_type_code ORDER BY sum(cost_of_treatment) ASC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: Which owner has paid the largest amount of money in total for their dogs? Show the owner id and zip code.
### Response:
SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: Find the owner id and zip code of the owner who spent the most money in total for his or her dogs.
### Response:
SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: Which professionals have done at least two types of treatments? List the professional id and cell phone.
### Response:
SELECT T1.professional_id ,  T1.cell_number FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >=  2;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: Find the id and cell phone of the professionals who operate two or more types of treatments.
### Response:
SELECT T1.professional_id ,  T1.cell_number FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >=  2;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: What are the first name and last name of the professionals who have done treatment with cost below average?
### Response:
SELECT DISTINCT T1.first_name ,  T1.last_name FROM Professionals AS T1 JOIN Treatments AS T2 WHERE cost_of_treatment  <  ( SELECT avg(cost_of_treatment) FROM Treatments );

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: Which professionals have operated a treatment that costs less than the average? Give me theor first names and last names.
### Response:
SELECT DISTINCT T1.first_name ,  T1.last_name FROM Professionals AS T1 JOIN Treatments AS T2 WHERE cost_of_treatment  <  ( SELECT avg(cost_of_treatment) FROM Treatments );

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: List the date of each treatment, together with the first name of the professional who operated it.
### Response:
SELECT T1.date_of_treatment ,  T2.first_name FROM Treatments AS T1 JOIN Professionals AS T2 ON T1.professional_id  =  T2.professional_id;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: What are the date and the operating professional's first name of each treatment?
### Response:
SELECT T1.date_of_treatment ,  T2.first_name FROM Treatments AS T1 JOIN Professionals AS T2 ON T1.professional_id  =  T2.professional_id;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: List the cost of each treatment and the corresponding treatment type description.
### Response:
SELECT T1.cost_of_treatment ,  T2.treatment_type_description FROM Treatments AS T1 JOIN treatment_types AS T2 ON T1.treatment_type_code  =  T2.treatment_type_code;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]
breed_code [ TEXT ] Dogs.breed_code = Breeds.breed_code
size_code [ TEXT ] Dogs.size_code = Sizes.size_code
name [ TEXT ]
age [ TEXT ]
date_of_birth [ TEXT ]
gender [ TEXT ]
weight [ TEXT ]
date_arrived [ TEXT ]
date_adopted [ TEXT ]
date_departed [ TEXT ]

Professionals :
professional_id [ INT ] primary_key
role_code [ TEXT ]
first_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
last_name [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Treatments :
treatment_id [ INT ] primary_key
dog_id [ INT ] Treatments.dog_id = Dogs.dog_id
professional_id [ INT ] Treatments.professional_id = Professionals.professional_id
treatment_type_code [ TEXT ] Treatments.treatment_type_code = Treatment_Types.treatment_type_code
date_of_treatment [ TEXT ]
cost_of_treatment [ INT ]

Write an SQL query that answers the following: What are the cost and treatment type description of each treatment?
### Response:
SELECT T1.cost_of_treatment ,  T2.treatment_type_description FROM Treatments AS T1 JOIN treatment_types AS T2 ON T1.treatment_type_code  =  T2.treatment_type_code;

You are a powerful text-to-SQL model. Here is a database schema:
Breeds :
breed_code [ TEXT ] primary_key
breed_name [ TEXT ]

Charges :
charge_id [ INT ] primary_key
charge_type [ TEXT ]
charge_amount [ INT ]

Sizes :
size_code [ TEXT ] primary_key
size_description [ TEXT ]

Treatment_Types :
treatment_type_code [ TEXT ] primary_key
treatment_type_description [ TEXT ]

Owners :
owner_id [ INT ] primary_key
first_name [ TEXT ]
last_name [ TEXT ]
street [ TEXT ]
city [ TEXT ]
state [ TEXT ]
zip_code [ TEXT ]
email_address [ TEXT ]
home_phone [ TEXT ]
cell_number [ TEXT ]

Dogs :
dog_id [ INT ] primary_key
owner_id [ INT ] Dogs.owner_id = Owners.owner_id
abandoned_yn [ TEXT ]

### 5. Setup Lora

In [10]:
model.train() # put model back into training mode
model = prepare_model_for_int8_training(model)

config = LoraConfig(
    r=16,
    lora_alpha=16,
    target_modules=[
    "q_proj",
    "k_proj",
    "v_proj",
    "o_proj",
],
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM",
)
model = get_peft_model(model, config)

To resume from a checkpoint, set resume_from_checkpoint to the path of the adapter_model.bin you want to resume from. This code'll replace the lora adapter attached to the model:

In [11]:
resume_from_checkpoint = "" # set this to the adapter_model.bin file you want to resume from

if resume_from_checkpoint:
    if os.path.exists(resume_from_checkpoint):
        print(f"Restarting from {resume_from_checkpoint}")
        adapters_weights = torch.load(resume_from_checkpoint)
        set_peft_model_state_dict(model, adapters_weights)
    else:
        print(f"Checkpoint {resume_from_checkpoint} not found")

Optional stuff to setup Weights and Biases to view training graphs:

In [12]:
wandb_project = "spider-llama7B-test1"
if len(wandb_project) > 0:
    os.environ["WANDB_PROJECT"] = wandb_project

In [13]:
if torch.cuda.device_count() > 1:
    # keeps Trainer from trying its own DataParallelism when more than 1 gpu is available
    model.is_parallelizable = True
    model.model_parallel = True

### 6. Training arguments
If you run out of GPU memory, change per_device_train_batch_size. The gradient_accumulation_steps variable should ensure this doesn't affect batch dynamics during the training run. All the other variables are standard stuff that I wouldn't recommend messing with:

In [14]:
batch_size = 128
per_device_train_batch_size = 64
gradient_accumulation_steps = batch_size // per_device_train_batch_size
output_dir = "spider-7B-test-1"

training_args = TrainingArguments(
        per_device_train_batch_size=per_device_train_batch_size,
        gradient_accumulation_steps=gradient_accumulation_steps,
        warmup_steps=100,
        max_steps=400,
        learning_rate=3e-4,
        fp16=True,
        logging_steps=10,
        optim="adamw_torch",
        evaluation_strategy="steps", # if val_set_size > 0 else "no",
        save_strategy="steps",
        eval_steps=20,
        save_steps=20,
        output_dir=output_dir,
        # save_total_limit=3,
        load_best_model_at_end=False,
        # ddp_find_unused_parameters=False if ddp else None,
        group_by_length=True, # group sequences of roughly the same length together to speed up training
        report_to="wandb", # if use_wandb else "none",
        run_name=f"codellama-{datetime.now().strftime('%Y-%m-%d-%H-%M')}", # if use_wandb else None,
    )

trainer = Trainer(
    model=model,
    train_dataset=tokenized_train_dataset,
    eval_dataset=tokenized_val_dataset,
    args=training_args,
    data_collator=DataCollatorForSeq2Seq(
        tokenizer, pad_to_multiple_of=8, return_tensors="pt", padding=True
    ),
)

Then we do some pytorch-related optimisation (which just make training faster but don't affect accuracy):

In [15]:
model.config.use_cache = False

old_state_dict = model.state_dict
model.state_dict = (lambda self, *_, **__: get_peft_model_state_dict(self, old_state_dict())).__get__(
    model, type(model)
)
if torch.__version__ >= "2" and sys.platform != "win32":
    print("compiling the model")
    model = torch.compile(model)

compiling the model

In [ ]:
trainer.train()

wandb: Appending key for api.wandb.ai to your netrc file: /root/.netrc

You're using a CodeLlamaTokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.

### Load the final checkpoint
Now for the moment of truth! Has our work paid off...?

In [ ]:
import torch
from transformers import AutoModelForCausalLM, BitsAndBytesConfig, AutoTokenizer

base_model = "codellama/CodeLlama-7b-hf"
model = AutoModelForCausalLM.from_pretrained(
    base_model,
    load_in_8bit=True,
    torch_dtype=torch.float16,
    device_map="auto",
)
tokenizer = AutoTokenizer.from_pretrained("codellama/CodeLlama-7b-hf")

To load a fine-tuned Lora/Qlora adapter use PeftModel.from_pretrained. ```output_dir``` should be something containing an adapter_config.json and adapter_model.bin:

In [ ]:
from peft import PeftModel
model = PeftModel.from_pretrained(model, output_dir)

Try the same prompt as before:

In [ ]:
eval_prompt = """You are a powerful text-to-SQL model. Your job is to answer questions about a database. You are given a question and context regarding one or more tables.

You must output the SQL query that answers the question.
### Input:
Which Class has a Frequency MHz larger than 91.5, and a City of license of hyannis, nebraska?

### Context:
CREATE TABLE table_name_12 (class VARCHAR, frequency_mhz VARCHAR, city_of_license VARCHAR)

### Response:
"""

model_input = tokenizer(eval_prompt, return_tensors="pt").to("cuda")

model.eval()
with torch.no_grad():
    print(tokenizer.decode(model.generate(**model_input, max_new_tokens=100)[0], skip_special_tokens=True))

And the model outputs:
```
SELECT class FROM table_name_12 WHERE frequency_mhz > 91.5 AND city_of_license = "hyannis, nebraska"
```
So it works! If you want to convert your this adapter to a Llama.cpp model to run locally follow my other [guide](https://ragntune.com/blog/A-guide-to-running-Llama-2-qlora-loras-on-Llama.cpp). If you have any questions, shoot me a message on [Elon Musk's website](https://twitter.com/samlhuillier_).